{% extends "layouts/project.html" %}

<!DOCTYPE html>
<html>
<head>
  <title>Button Counter</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Button Counter</h1>
  <button id="counter-btn">Click Me!</button>
  <p id="counter-text">0</p>

  <script src="script.js"></script>
</body>
<style>
    body {
  text-align: center;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}


p {
  font-size: 24px;
  font-weight: bold;
}

</style>
<script>
// Get the button element
var button = document.getElementById("counter-btn");

// Get the counter text element
var counterText = document.getElementById("counter-text");

// Set initial counter value
var count = 0;

// Add event listener to the button
button.addEventListener("click", function() {
  // Increment the counter
  count++;

  // Update the counter text
  counterText.textContent = count;
});

</script>
</html>


  <!-- Setting up a block replacement to customize background to BIRDS -->
  {% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
  {% endblock %}

