{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->

    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Ahad Biabani's Python Home Page</strong></h1>
    </div>
</div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/MONSTER.png') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Name is <mark>Ahad Biabani</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>I like to read manga and I play Ice Hockey. My Favorite Manga series are Monster, Pluto, Tokto Ghoul and AOT</li>
                            <li>I like APCSP becuase I get to work with classmates on projects. I have the ability to create what I want from my computer. It is fun</li>
                            <li>Right now I have a 91% in the class. I would like to raise my grade so that it is more comforable and not so close to a B. I will do this by attempting all the extra credit and completing all the assignments</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">fortnite</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/bruins 5.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Ahads <mark>Favorite</mark>Sport</h5>
                    <p class="card-text">
                        <ol>
                            <li>My favotie sport is Ice Hockey</li>
                            <li>My favorite NHL team is the Boston Bruins</li>
                            <li>I Play Ice Hockey</li>
                            <li>I play for the Division 1 Central Cathedral Jets</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Bruins</a>
                    </div>
            </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img class="card-img-top" src="{{ url_for('static', filename='assets/dnhs.png') }}" alt="Backend and Persistence" height="250">
            <div class="card-body">
            <h5 class="card-title">My <mark>Schedule</mark></h5>
            <p class="card-text">
                <html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<table style="width:90%">
  <tr>
    <th>Period 1</th>
    <th>Period 2</th>
    <th>Period 3</th>
    <th>Period 4</th>
    <th>Period 5</th>
  </tr>
  <tr>
    <td>AM LIT</td>
    <td>Chemistry 1</td>
    <td>APUSH</td>
    <td>Math 3a</td>
    <td>APCSP</td>
  </tr>
  <tr>
    <td>(M,T,Th) 8:35 - 9:44</td>
    <td>(M,T,Th)   9:49 - 10:58</td>
    <td>(M,T,Th) 11:13 - 12:22</td>
    <td>(M,T,Th) 12:57 - 2:06</td>
    <td>(M,T,Th) 2:36 - 3:45</td>
  </tr>

</table>
</body>
</html>

            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
{% endblock %}